.config {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: var(--color-white);
  box-sizing: border-box;
}

.config__title {
  font-family: var(--font-title);
  margin-top: 0;
}

.config__text {
  font-family: var(--font-body);
  opacity: 0.8;
}
